@mixin style_photostudio {

  div.news_list {

    div.fact {
      height: 362px;
      overflow: hidden;

      a.h5 {

        h5 {
          padding-right: 14px;
          font-size: 20px;
        }

      }

      p.short {
        padding-right: 14px;
        color: #747474;
      }

    }

  }

  &.is_news_page {

    div.fact {
      height: 360px;
      position: relative;

      a.h5 {
        position: relative;
        display: block;

        h5 {
          /* разместим поверх картинки на полупрозрачном фоне */
          color: #ffffff;
          position: absolute;
          top: -102px;
          padding: 19px 6px 6px 15px;
          background-color: rgba(0, 0, 0, 0.2);
          height: 67px;
          font-size: 18px;
          text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
        }
      }

      p {
        font-size: 16px;
      }

      p.date {
        position: absolute;
        height: 25px;
        margin: 0;
        top: 192px;
        padding: 3px 5px 6px 16px;
        background-color: rgba(255, 255, 0, 0.31);
        width: 89px !important;
        /*border-bottom: 1px solid rgba(255,255,255,0.9);*/
      }

      p.short {
        color: #212121;
      }
    }

  }

  div.div_will_paginate {
    clear: both;

    div.pagination {

      span {
        &.previous_page {
          display: none;
        }
        &.next_page {
          display: none;
        }
        &.disabled {

        }
      }

      em {

        display: inline-block;
        background-color: #fafaff;
        line-height: 29px;
        width: 30px;
        height: 30px;
        text-align: center;
        font-weight: bold !important;

        &.current {
          border: 1px solid #cbcbcf;
        }

      }

      a {
        display: inline-block;
        border: 1px solid #cbcbcf;
        background-color: #E4E4E9;
        color: #292B3A;
        line-height: 29px;
        width: 30px;
        height: 30px;
        text-align: center;
        font-family: arial, sans-serif;
        text-decoration: none;

        &.next_page {
          display: none;
        }

      }

    }
  }

}

