<div class="news_list clearfix per_row_<%=per_row%>">
  <% news_list.each do |fact| %>

      <%= render_one_fact(fact, partial_name, thumb_size).to_s %>

  <% end %>
</div>
<% if is_news_page || is_render_paginator %>
    <div class="div_will_paginate">
      <%= will_paginate news_list %>
    </div>
<% end %>
