/**
 * Grid container
 */
.div_facts {
  position: relative; /** Needed to ensure items are laid out relative to this container **/
  padding: 0;
  margin: 0;
  /*display: none;*/

  .fact {
    display: block;
    float: left;
    /*width: 229px;*/
    /*max-height: 350px;*/
    overflow: hidden;
    margin-bottom: 25px;

    img {
      margin-bottom: 15px;
      max-width: 100%;
    }

  }

  &.per_row_3 {
    .fact {
      width: 33.33333%;
    }
  }

  &.per_row_4 {
    .fact {
      width: 25%;
    }
  }

}

div.news_widget {
  background-color: #b0b0b0;
}
